main {
  display: grid;
  grid-template-columns: 2fr 8fr;
}

#trainer-container {
  border-right: 3px solid black;
  margin-right: 20px;
}

#trainer-container li {
  list-style: none;
}

#trainer-container li:hover{
  background-color: red;
}

li {
  padding-bottom: 5px;
  font-size: 1.5rem;
}
