<form action="/books" method="post">
  <label for="title">Title</label>
  <input type="text" name="title" value="">
  <label for="snippet">Snippet</label>
  <input type="text" name="snippet" value="">
  <input type="submit" value="Create Book">
</form>
